<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Grand+Hotel|Quicksand:400,300,700' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<div id="wrapper">


        <div id="header-logo-2">
          <%= link_to image_tag("lashful-logo-2.png", :alt => 'Sweet and Lashful'), "#intro" %>
        </div>  <!-- #header-logo-2 -->

        <div id="header-logo-3-store">
          <%= link_to image_tag("lashful-logo-3.png", :alt => 'Sweet and Lashful'), "#intro" %>
        </div>  <!-- #header-logo-2 -->

  <div class="primary-header">

        <div class="grid_6 alpha clearfix main-menu-store">
            <ul>
                  <li class="main-menu-item-1-store"><%= link_to "Shop", "#second", :class => "" %></li>
                  <li class="main-menu-item-2-store"><%= link_to "Services", "#third", :class => "" %></li>
                  <li class="main-menu-item-3-store"><%= link_to "About", "#fourth", :class => "" %></li>
                  <li class="main-menu-item-4-store"><%= link_to "Lashful Thinking", "/blog", :class => "" %></li>
                  <li class="main-menu-item-5-store"><%= link_to "Contact Us" %></li>

            </ul>
        </div>  <!-- .main-menu -->
  </div>  <!-- main-header -->

   
   <li id="link-to-cart" data-hook><%= link_to_cart %></li>

   
    <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">

    <div class="container">

      <%= render :partial => 'spree/shared/header' %>

      <div id="wrapper" class="row" data-hook>

        <%= breadcrumbs(@taxon) %>

<!--
        <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %> -->

        <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>

      </div>


    </div>

    <%= render :partial => 'spree/shared/google_analytics' %>
    <script>
      Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
    </script>

</div> <!--#wrapper -->
    <nav class="menu push-menu-right nav-slide-right">
          <ul>
              <li class=""><%= link_to "Shop", "#second", :class => "" %></li>
              <li class=""><%= link_to "Services", "#third", :class => "" %></li>
              <li class=""><%= link_to "About", "#fourth", :class => "" %></li>
              <li class=""><%= link_to "Lashful Thinking", "/blog", :class => "" %></li>
              <li class=""><%= link_to "Contact Us" %></li>

          </ul>
    </nav>

     <button  class="nav-toggler toggle-push-right btn"></button> 

    <%= javascript_include_tag "classie", "data-turbolinks-track" => true %>
<%= javascript_include_tag "nav", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "style", media: "all", "data-turbolinks-track" => true %>
  </body>
</html>