<p>Thanks so much for your order!</p>

<ul>
	<li>Orders typically ship in 1-2 business days.</li>
	<li>We’ll send you a tracking number as soon as it’s out the door.</li>
	<li>Questions? Email us at <a href="mailto:orders@sweetandlashful.com" class="">orders@sweetandlashful.com</a> or call/text us at 404.585.1456.</li>
</ul>

<p>Cheers,<br>
   Nancy</p>

.....................................................................................................

<p>Shipping Address: <%= @order.ship_address %></p>
<p>Billing Address: <%= @order.bill_address %></p>
   
<div class="address vcard">
<div class="fn"><%= address.full_name %></div>
<% unless address.company.blank? %>
<div class="org">
<%= address.company %>
</div>
<% end %>
<div class="adr">
<div class="street-address">
<div class="street-address-line">
<%= address.address1 %>
</div>
<% unless address.address2.blank? %>
<div class="street-address-line">
<%= address.address2 %>
</div>
<% end %>
</div>
<div class="local">
<span class="locality"><%= address.city %></span>
<span class="region"><%= address.state_text %></span>
<span class="postal-code"><%= address.zipcode %></span>
<div class="country-name"><%= address.country.try(:name) %></div>
</div>
</div>
<% unless address.phone.blank? %>
<div class="tel">
<span class="type"><%= Spree.t(:phone) %></span>
<%= address.phone %>
</div>
<% end %>
<% unless address.alternative_phone.blank? %>
<div class="alternative-phone tel">
<span class="type"><%= Spree.t(:alternative_phone) %></span>
<%= address.alternative_phone %>
</div>
<% end %>
</div>

<p>Order Summary</p>
.....................................................................................................
<% @order.line_items.each do |item| %>
<p><%= item.variant.sku %> <%= raw(item.variant.product.name) %> <%= raw(item.variant.options_text) -%> (<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %><p>
<% end %><br>     
......................................................................................................
<p><%= Spree.t('order_mailer.confirm_email.subtotal', :subtotal => @order.display_item_total) %></p>
<% if @order.line_item_adjustments.exists? %>
<% if @order.all_adjustments.promotion.eligible.exists? %>
<% @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
<p><%= Spree.t(:promotion) %>: <%= label %> <%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %><p>
<% end %>
<% end %>
<% end %>
<% @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
<p><%= Spree.t(:shipping) %>: <%= name %> <%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency) %></p>
<% end %>
<% if @order.all_adjustments.eligible.tax.exists? %>
<% @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
<p><%= Spree.t(:tax) %>: <%= label %> <%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></p>
<% end %>
<% end %>
<% @order.adjustments.eligible.each do |adjustment| %>
<% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
<p><%= adjustment.label %></p>  <p><%= adjustment.display_amount %></p>
<% end %>
.......................................................................................................
<p><%= Spree.t('order_mailer.confirm_email.total', :total => @order.display_total) %></p>
<br>
