<p>Thanks so much for your order!</p>

<ul>
	<li>Orders typically ship in 1-2 business days.</li>
	<li>I'll send you a tracking number as soon as it’s out the door.</li>
	<li>Questions? Email me directly at <a href="mailto:nancy@sweetandlashful.com" class="">nancy@sweetandlashful.com</a>. You can also text at 404-585-1456.</li>
</ul>

<p>Cheers,<br>
   Nancy</p>

.....................................................................................................

<p>Shipping Address: <%= @order.ship_address %></p>
                     <p><%= @order.ship_address.city %> <%= @order.ship_address.zipcode %></p>
                     <p><%= @order.ship_address.state %></p>
 .....................................................................................................                    
						
<p>Billing Address: <%= @order.bill_address %></p>
					<p><%= @order.bill_address.city %> <%= @order.bill_address.zipcode %></p>
                    <p><%= @order.bill_address.state %></p>
.....................................................................................................
<p>Order Summary</p>
.....................................................................................................
<% @order.line_items.each do |item| %>
<p><%= item.variant.sku %> <%= raw(item.variant.product.name) %> <%= raw(item.variant.options_text) -%> (<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %><p>
<% end %>     
......................................................................................................
<p><%= Spree.t('order_mailer.confirm_email.subtotal', :subtotal => @order.display_item_total) %></p>
<% if @order.line_item_adjustments.exists? %>
<% if @order.all_adjustments.promotion.eligible.exists? %>
<% @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
<p><%= Spree.t(:promotion) %>: <%= label %> <%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %><p>
<% end %>
<% end %>
<% end %>
<% @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
<p><%= Spree.t(:shipping) %>: <%= name %> <%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency) %></p>
<% end %>
<% if @order.all_adjustments.eligible.tax.exists? %>
<% @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
<p><%= Spree.t(:tax) %>: <%= label %> <%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></p>
<% end %>
<% end %>
<% @order.adjustments.eligible.each do |adjustment| %>
<% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
<p><%= adjustment.label %></p>  <p><%= adjustment.display_amount %></p>
<% end %>
.......................................................................................................
<p><%= Spree.t('order_mailer.confirm_email.total', :total => @order.display_total) %></p>
<br>
