<!-- <div class="background">
     <%= image_tag("background-grey-2.svg")%>
</div>
 -->

<div class="columns alpha six" data-hook="billing_fieldset_wrapper">
  <fieldset id="billing" data-hook>
    <%= form.fields_for :bill_address do |bill_form| %>
      <legend align="center"><%= Spree.t(:billing_address) %></legend>
      <%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
    <% end %>
  </fieldset>
</div>

<div class="columns omega six" data-hook="shipping_fieldset_wrapper">
  <fieldset id="shipping" data-hook>
    <%= form.fields_for :ship_address do |ship_form| %>
      <legend align="center"><%= Spree.t(:shipping_address) %></legend>
      <p class="field checkbox" id="checkbox"  data-hook="use_billing">
        <%= check_box_tag 'order[use_billing]', '0', @order.shipping_eq_billing_address? %>
        <%= label_tag :order_use_billing, Spree.t(:use_billing_address), :id => 'use_billing' %>
      </p>
      <%= render :partial => 'spree/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address } %>
    <% end %>
  </fieldset>
</div>
<hr class="clear" />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'continue button primary' %>
  <% if try_spree_current_user %>
    <span data-hook="save_user_address">
      &nbsp; &nbsp;
      <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
      <%= label_tag :save_user_address, Spree.t(:save_my_address) %>
    </span>
  <% end %>
</div>


<%= javascript_include_tag "jquery-1.10.2", "data-turbolinks-track" => true %>


<script>
var checkBox = document.getElementById('order_use_billing');

var shipFirstName = document.getElementById('order_ship_address_attributes_firstname');
var billFirstName = document.getElementById('order_bill_address_attributes_firstname');
var shipLastName = document.getElementById('order_ship_address_attributes_lastname');
var billLastName = document.getElementById('order_bill_address_attributes_lastname');
var shipStreet = document.getElementById('order_ship_address_attributes_address1');
var billStreet = document.getElementById('order_bill_address_attributes_address1');
var shipStreetTwo = document.getElementById('order_ship_address_attributes_address2');
var billStreetTwo = document.getElementById('order_bill_address_attributes_address2');
var shipState = document.getElementById('order_ship_address_attributes_state_id');
var billState = document.getElementById('order_bill_address_attributes_state_id');
var shipCity = document.getElementById('order_ship_address_attributes_city');
var billCity = document.getElementById('order_bill_address_attributes_city');
var shipCountry = document.getElementById('order_ship_address_attributes_country_id');
var billCountry = document.getElementById('order_bill_address_attributes_country_id');
var shipZip = document.getElementById('order_ship_address_attributes_zipcode');
var billZip = document.getElementById('order_bill_address_attributes_zipcode');
var shipPhone = document.getElementById('order_ship_address_attributes_phone');
var billPhone = document.getElementById('order_bill_address_attributes_phone');






$(function(){
   $('input[type=checkbox]').prop("checked", false);
});

function filling(){
   
  if(checkBox.checked == true) {
    shipFirstName.value       = billFirstName.value;
    shipLastName.value        = billLastName.value
    shipStreet.value          = billStreet.value
    shipStreetTwo.value       = billStreetTwo.value
    shipCity.value            = billCity.value
    shipState.value           = billState.value
    shipCountry.value         = billCountry.value
    shipZip.value             = billZip.value
    shipPhone.value           = billPhone.value
    
  }
   if(checkBox.checked == false) {
    shipFirstName.value       = "";
    shipLastName.value        = "";
    shipStreet.value          = "";
    shipStreetTwo.value       = "";
    shipCity.value            = "";
    shipState.value           = "";
    shipCountry.value         = "";
    shipZip.value             = "";
    shipPhone.value           = "";
    
  }
};



$(function() {

    $('input[type="checkbox"]').on('change', function() {

         filling();
    });
});                               
                               




// window.onload = function() {

//     $(function(){
//         $('input[type=checkbox]').prop("checked", false);
//     });
// };


//       $(function() {
//                 $('input[type="checkbox"]').on('change', function() {
//                     $(this).closest('fieldset').find('.inner').toggle(!this.checked);
//                 });
//        });
</script>


    
