<div class="statement">

	<p>all things lashes and more...</p>

</div>



</div>
<div class="grid_12 glass">

	<div class="grid_3 alpha omega contact-column-1-main">
		<h1>Call, Text, or Email</h1>
		<h2>404.585.1456</h2>
		<p><span>general inquiries:<br></span><%= mail_to "info@sweetandlashful.com", "info@sweetandlashful.com" %></p>
		<p><span>online orders:<br></span><%= mail_to "orders@sweetandlashful.com", "orders@sweetandlashful.com" %></p>
		<p><span>training &amp; certification:<br></span><%= mail_to "training@sweetandlashful.com", "training@sweetandlashful.com" %></p>
	</div> <!-- contact-column-1 -->

	<div class="grid_3 alpha omega contact-column-2-main">
		<h1>Visit</h1>
		<address>165 6th St NE<br>
					Suite 102<br>
					Atlanta, GA 30308</address>
		<p>To schedule a visit, contact us directly or book an appointment online <%=link_to "here", "/services" %>.</p>
	</div> <!-- contact-column-2 -->

	<div class="grid_3 alpha omega contact-column-3-main">
		<h1>Follow</h1>
		<div class="social-media">
			<%= link_to image_tag('facebook_teal.png', :size =>"30x30", :class => "facebook"), "https://www.facebook.com/SweetandLashful", :target => "_blank" %>
			<%= link_to image_tag('twitter_teal.png', :size =>"30x30"), "https://twitter.com/sweetandlashful", :target => "_blank" %>
			<%= link_to image_tag('instagram_teal.png', :size =>"30x30"), "http://instagram.com/sweetandlashful", :target => "_blank" %>
			<%= link_to image_tag('google_teal.png', :size =>"30x30"), "https://plus.google.com/u/0/112130594903660962266", :target => "_blank" %>
		</div>
		       <h3 class="h3">NEWSLETTER UPDATES</h3>
                  <form id="form" action="https://sweetandlashful.us8.list-manage.com/subscribe/post-json?u=c63539c7d55bca17a1e7c51ff&id=8338fc50cc&c=?" method="GET">
                  <input type="hidden" name="u" value="c63539c7d55bca17a1e7c51ff">
                  <input type="hidden" name="id" value="8338fc50cc">
                  <input type="EMAIL" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Type your email and press enter">
                  <p id="response"> </p>
                  </form>

                          <script>
                            $('#form').submit(function(e) {
                              var $this = $(this);
                              var paragraph = document.getElementById('response');

                              $.ajax({
                                  type: "GET", // GET & url for json slightly different
                                  url: "https://sweetandlashful.us8.list-manage.com/subscribe/post-json?u=c63539c7d55bca17a1e7c51ff&id=8338fc50cc&c=?",
                                  data: $this.serialize(),
                                  dataType    : 'json',
                                  contentType: "application/json; charset=utf-8",
                                  error       : function(err) { alert("Could not connect to the registration server."); },
                                  success     : function(data) {
                                      if (data.result != "success") {
                                          paragraph.innerHTML = data.msg;
                                      } else {
                                          paragraph.innerHTML = data.msg;

                                      }
                                  }
                              });
                              return false;
                            });
                          </script>
	</div> <!-- contact-column-3 -->

	<!-- <div class="grid_2 alpha omega contact-column-4">
		<p>Logo &amp; Flourishes</p>
		<%= link_to image_tag("jess-logo.png", :alt => 'Jessica Hoehn'), "http://www.jessicahoehndesign.com" %>
		<p>Web Design &amp; Development</p>
		<%= link_to image_tag("cuneiform-logo.png", :alt => 'cuneiform.io'), "http://www.cuneiform.io" %>
		<p>Photography</p>
	</div> <!-- contact-column-4-->

	<div class="grid_12 footer-main">
		<p class="copyright-main">&copy; 2014 Shim Aesthetics, LLC. All rights reserved.<p>
		<h1><%= image_tag("flourish-3.png", :alt => 'Sweet and Lashful', :class => "gallery-main") %></h1>
	<!-- 	<ul>
			<li><%= link_to "FAQs" %></li>
			<li><%= link_to "Privacy Policy" %></li>
			<li><%= link_to "Terms of Service" %></li>
		</ul> -->
</div> <!-- footer -->
	<div class="grid_2 intro-contact-footer">
	   <%= link_to image_tag('arrow_pink.png') %>
    </div> <!---intro-contact -->

</div> <!-- glass -->

<div class="grid_2 intro-contact">
	<p><%= link_to "Contact Us" %></p>
</div> <!--  intro-contact -->

<%= javascript_include_tag "jquery-1.10.2", "data-turbolinks-track" => true %>

<script>
$('.glass').hide();
$('.intro-contact').on('click', function(event){
    event.preventDefault();
    $('.intro-contact').hide();
	$(".glass").slideToggle();

});

    $('.intro-contact-footer').on('click', function(event){
    event.preventDefault();
	$(".glass").slideToggle();
	$('.intro-contact').show();

});

</script>


<script>
 $(".intro-contact-footer img")
   .on( "mouseover", function() {
    $(this).attr ('src', '/assets/arrow_white.png');
  })
    .on( "mouseleave", function() {
    $(this).attr ('src', '/assets/arrow_pink.png');
});
</script>
