<section>
  <%= render partial: 'monologue/posts/post_header', locals: {post: post} %>

  <div class="inner-content" data-monologue="content">
    <%= truncate_html(post.content, length: 100, omission: '...') %>
      <%= image_tag('flourish_blog.png', :class => 'blog_image') %>
  </div>

<!--   <div class="tags" data-monologue="tags">
    <%= render post.tags %>
  </div> -->

 <!--<%= link_to t(".readmore"), post.full_url, class: "readmore" %> -->
</section>