<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <%= render 'layouts/monologue/application/head' %>
</head>
<div class="background">
          <%= image_tag("background-grey-2.svg")%>
        </div>
      

  <link href='http://fonts.googleapis.com/css?family=Grand+Hotel|Quicksand:400,300,700' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  
        <div id="header-logo-2">
          <%= link_to image_tag("lashful-logo-2.png", :alt => 'Sweet and Lashful'), "/blog" %>
        </div>  <!-- #header-logo-2 -->

        <div id="header-logo-3-store">
          <%= link_to image_tag("lashful-logo-3.png", :alt => 'Sweet and Lashful'), "/blog" %>
        </div>  <!-- #header-logo-2 -->

  <div class="primary-header">

        <div class="grid_6 clearfix main-menu-store">
            <ul>
                  <li class="main-menu-item-1-store"><%= link_to "Shop", "#second", :class => "" %></li>
                  <li class="main-menu-item-2-store"><%= link_to "Services", "#third", :class => "" %></li>
                  <li class="main-menu-item-3-store"><%= link_to "About", "#fourth", :class => "" %></li>
                  <li class="main-menu-item-5-store"><%= link_to "Contact Us" %></li>
            </ul>
        </div>  <!-- .main-menu -->
  </div>  <!-- main-header -->

<body>
  <div class="blog-container">


    <div class="content twelve columns">
      <% flash.each do |name, msg| %>
        <div class="flash-notice">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>


  </div>
  <% if content_for?(:footer) %>
    <footer>
      <%= yield :footer %>
    </footer>
  <% end %>
  <%= render 'layouts/monologue/application/disqus' %>
  <%= render 'layouts/monologue/application/gauge_analytics' %>


<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


  <% if current_page?(root_url) %>

 <script>

  $('.content img').hide();
   
 </script>

 <%else%>

  <script>
 $('.content img').show();

 </script>


  <%end%>


</body>
</html>

