<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->


<head>
    <title>Sweet and Lashful | Services</title>
    <%= javascript_include_tag "prefixfree", "data-turbolinks-track" => true %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "normalize", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "grid", media: "all", "data-turbolinks-track" => true %>
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Quicksand:400,300,700' rel='stylesheet' type='text/css'>

  <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->

    <%= csrf_meta_tags %>
</head>
  
  <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Quicksand:400,300,700' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<body>
  <div id="wrapper">
    
          <div id="header-logo-2">
            <%= link_to image_tag("lashful-logo-2.png", :alt => 'Sweet and Lashful'), "/" %>
          </div>  <!-- #header-logo-2 -->

          <div id="header-logo-3-store">
            <%= link_to image_tag("swoosh-04.png", :alt => 'Sweet and Lashful'), "/" %>
          </div>  <!-- #header-logo-2 -->

    <div class="primary-header-services">
    </div>
    
        <%= yield %>
    
            <div class="grid_12 glass-blog">

                <div class="grid_3 alpha omega contact-column-1-blog">
                  <h1 class="h1">Call, Text, or Email</h1>
                  <h2 class="h2">404.585.1456</h2>
                  <p><span class="span">general inquiries:<br></span><%= mail_to "info@sweetandlashful.com", "info@sweetandlashful.com", :class => 'link' %></p>
                  <p><span class="span">online orders:<br></span><%= mail_to "orders@sweetandlashful.com" , "orders@sweetandlashful.com", :class => 'link' %></p>
                  <p><span class="span">training &amp; certification:<br></span><%= mail_to "training@sweetandlashful.com", "training@sweetandlashful.com", :class => 'link'  %></p>
                </div> <!-- contact-column-1 -->

                <div class="grid_3 alpha omega contact-column-2-blog">
                  <h1 class="h1">Visit</h1>
                  <address>165 6th St NE<br>
                         Suite 101<br>
                        Atlanta, GA 30308</address>
                  <p>To schedule a visit, contact us directly or book an appointment online <%=link_to "here" %>.</p>
                </div> <!-- contact-column-2 -->

                <div class="grid_3 alpha omega contact-column-3-blog">
                  <h1 class="h1">Follow</h1>
                  <div class="social-media social-blog">
                    <%= link_to image_tag('facebook_teal.png', :size =>"30x30", :class => "facebook"), "https://www.facebook.com/SweetandLashful", :target => "_blank" %>
                    <%= link_to image_tag('twitter_teal.png', :size =>"30x30"), "https://twitter.com/sweetandlashful", :target => "_blank" %>
                    <%= link_to image_tag('instagram_teal.png', :size =>"30x30"), "http://instagram.com/sweetandlashful", :target => "_blank" %>
                    <%= link_to image_tag('google_teal.png', :size =>"30x30"), "https://plus.google.com/u/0/112130594903660962266", :target => "_blank" %>
                  </div>
                  <h3 class="h3">NEWSLETTER UPDATES</h3>
                  <form action="http://sweetandlashful.us8.list-manage.com/subscribe/post" method="POST">
                  <input type="hidden" name="u" value="c63539c7d55bca17a1e7c51ff">
                  <input type="hidden" name="id" value="8338fc50cc">
                  <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Type your email and press enter">
                  </form>
                </div> <!-- contact-column-3 -->

                <!-- <div class="grid_2 alpha omega contact-column-4">
                  <p>Logo &amp; Flourishes</p>
                  <%= link_to image_tag("jess-logo.png", :alt => 'Jessica Hoehn'), "http://www.jessicahoehndesign.com" %>
                  <p>Web Design &amp; Development</p>
                  <%= link_to image_tag("cuneiform-logo.png", :alt => 'cuneiform.io'), "http://www.cuneiform.io" %>
                  <p>Photography</p>
                </div> <!-- contact-column-4-->

                <div class="grid_12 footer-blog">
                  <p class="copyright-blog">&copy; 2014 Shim Aesthetics, LLC. All rights reserved.<p>
                  <h1><%= image_tag("flourish-3.png", :alt => 'Sweet and Lashful', :class => "gallery-blog") %></h1>
                 <!--  <ul class="info-blog">
                    <li><%= link_to "FAQs" %></li>
                    <li><%= link_to "Privacy Policy" %></li>
                    <li><%= link_to "Terms of Service" %></li>
                  </ul> -->
                </div> <!-- footer -->
                <div class="grid_2 intro-contact-footer">
                   <%= link_to image_tag('arrow_pink.png') %>
                </div> <!---intro-contact -->

          </div> <!-- glass -->
</div><!--#wrapper--> 
<nav class="menu push-menu-right nav-slide-right">
        <ul>
          <li class="main-menu-item-1-store-i"><%= link_to "Home", "/", :class => "" %></li>
          <li class="main-menu-item-3-store-i"><%= link_to "About", "/#second-about", :class => "" %></li>
          <li><%= link_to "Gallery", "/#main-gallery", :class => "main-menu-item-3-store-i" %></li>
          <li class="main-menu-item-2-store-i"><%= link_to "Services", "/services", :class => "" %></li>
          <li class="main-menu-item-1-store-i"><%= link_to "Shop", "/store", :class => "" %></li>
          <li class="main-menu-item-4-store-i"><%= link_to "Blog", "/lashfulthinking", :class => "" %></li>
          <li class="intro-contact-services"><%= link_to "Contact Us"%></li>

          <%= image_tag('flourish-slide.png', :class => 'slide_image') %>
          
        </ul>
    </nav>

    <button  class="nav-toggler toggle-push-right btn blog-button"></button>  



              <!-- <div class="grid_2 intro-contact">
                <p><%= link_to "Contact Us" %></p>
              </div> --> <!--  intro-contact -->

              <%= javascript_include_tag "jquery-1.10.2", "data-turbolinks-track" => true %>

              <script>
                $('.glass-blog').hide();
                $('.intro-contact-services').on('click', function(event){
                event.preventDefault();
                // $('.intro-contact').hide();
                $(".glass-blog").slideToggle();

              });

                $('.intro-contact-footer').on('click', function(event){
                event.preventDefault();
                $(".glass-blog").slideToggle();
                // $('.intro-contact').show();

              });

              </script>


              <script>

              $('.intro-contact-services').on('click', function(){
                  $('.blog-button').click();

              });

              // $('.blog-button').on('click', function(){
              //     $(".glass-blog").toggle();

              // });

              </script>


              <script>
               $(".intro-contact-footer img")
                 .on( "mouseover", function() {
                  $(this).attr ('src', '/assets/arrow_white.png');
                })
                  .on( "mouseleave", function() {
                  $(this).attr ('src', '/assets/arrow_pink.png');
              });
              </script>

              <script> 
                var lashful = $('.lashful').text().replace(/Lashful Thinking/g,"<span>Lashful Thinking</span>");

                $('.lashful').html(lashful);

              </script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<%= javascript_include_tag "jquery.fittext", "data-turbolinks-track" => true %>
<script>
  $(".lashful").fitText(1);
</script>
 -->
 
<%= javascript_include_tag "classie", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "nav", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "style", media: "all", "data-turbolinks-track" => true %>



</body>
</html>

